In [ ]:
print('hello world\n'*10)

In [ ]:
for var in range(0,10,1):
    print('hello world')

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(55):
    if i%2==0:
        print(i)

In [ ]:
for i in range(2,16,2):
    print(i)

In [ ]:
t = int(input('Enter table number:'))
t_l = int(input('Enter table length:')) 
for i in range (1,t_l+1):
    #17 * 1 = 17
    print('{} * {} = {}'.format(t,i,t*i))

In [ ]:
n = int(input('enter a number 10'))
for i in range(1,n+1):
    if n%i == 0:
        print(i,end=' ')

In [ ]:
n = int(input('enter a number 10'))
for i in range(1,n+1):
    if n%i == 0:
        if n%i == 0:
            f_s+=i#f_s+i
            print(i,end=' ')
print('sum of factors :',f_s)

In [ ]:
n = int(input('Enter factorial number:'))
fact = 1
for i in range(1,n+1):
    fact*=i#fact = fact*i
print(fact)

In [ ]:
i = 1
while i<10:
    print(i)
    i+=1

In [ ]:
i = 10
while i>0:
    print(i)
    i-=1

In [ ]:
for i in range(10,0,-2):
    print(i)

In [5]:
i = 0
while i<20:
    i+=1
    if i == 10 or i == 15:
        continue
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 11 12 13 14 16 17 18 19 20

In [10]:
def add(a,b):
    print(a+b)

In [11]:
add(780,698)

1478

In [13]:
def add():
    num1 = int(input('enter num1:'))
    num2 = int(input('enter num2:'))
    print('sum of',num1,'and',num2,'is:',num1+num2)
add()

enter num1:45
enter num2:24
sum of 45 and 24 is: 69

In [22]:
def sub():
    n1 = 10
    n2 = 7
    return n1,n1-n2
    print(n1+n2)
dif = sub()
print(dif)

(10, 3)

In [1]:
def mul(a,b):
    print(a*b)
mul(45,8)

360

In [2]:
def div(a,b):
    return a,b,a+b,a-b,a/b
div(4,5)

(4, 5, 9, -1, 0.8)

In [4]:
def Default(a=10,b=20):
    return a+b
Default(50)

70

In [6]:
def required(a,b,c=30):
    return a*b*c
required(7,4)

840

In [7]:
def Var_len(a,*b):
    return a+sum(b)
Var_len(5,6,7)

18

In [8]:
def KeyWord(a,b):
    return a%b
KeyWord(b = 4,a = 6)

2

In [10]:
def KeyWord(name,college):
    print('hello {} welcome to {}'.format(name,college))
KeyWord(college = 'Pace college',name = 'Nikitha')

hello Nikitha welcome to Pace college

In [11]:
def key(**name):
    print(name)
key(name = ['abc','123','hello'])

{'name': ['abc', '123', 'hello']}

In [22]:
def Is_prime(n):
    if n == 1:
        return False
    cnt = 0
    for i in range(2,n):
        if n%i == 0:
            cnt+=1
            break
    if cnt == 0:
        return True
    else:
        return False
Is_prime(2)

True

In [24]:
def prime_gen(s,e):
    for i in range(s,e+1):
         if Is_prime(i):
                print(i,end = ' ')
s=int(input('Enter start value'))
e=int(input('Enter end value'))
prime_gen(s,e)

Enter start value68
Enter end value890
71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887

####